body {
	font-family: sans-serif;
	margin: 0px;
}

pre {
	padding: 10px;
}

h1,h2,h3 {
    line-height: 1;
}

h1 {
    margin-top: 0;
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
	font-size: 16px;
}

div.homepage {
	text-align: center;
	width: 100vw;
}

div.scoreboard {
	text-align: center;
    margin: 20px 0;
}

div.homepage table {
	margin: 0px auto;
}

div.wrapper {
	margin: 10px 20px;
	padding: 10px;
}

div.hub-view {
	display: flex;
    width: 100%;
}

div.hub-sidebar {
	float: left;
	min-height: 100vh;
	background-color: lightgrey;
}

div.hub-sidebar div.heading {
	font-weight: bold;
	background-color: black;
	color: rgb(33, 200, 237);
}

div.hub-sidebar div {
	width: 160px;
	padding: 2px 20px;
}

div.hub-sidebar p {
    font-size: 18px;
	margin: 5px 0px;
}

div.hub-sidebar a, div.sidebar a:visited {
	text-decoration: none;
	color: black;
}

div.hub-sidebar a:hover {
	text-decoration: none;
	color: white;
}

div.hub-sidebar div.problem-link:hover {
	background-color: rgb(33, 200, 237);
}

div.hub-content {
    margin: 20px 20px 30px 20px;
    flex: 1;
}

div.problem-statement {
	max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

div.problem-statement h1 {
    text-align: center;
}

div.highlight pre {
    margin: 0;
}

div.highlight {
	font-size: 16px;
	font-weight: 400;
}

div.problem-statement form {
    width: 100%;
}

div.submit-boxes {
	display: flex;
	width: 100%;
}

div.submit-boxes div {
	flex: 50%;
}

div.submit-boxes h3 {
    margin: 0 0 .3em 0;
}

div.submit-input {
	padding-right: 10px;
}

div.submit-output {
	padding-left: 10px;
}

textarea {
	width: 100%;
	rows: 5;
	resize: none;
}

.submit-button {
	font-size: 20px;
}

table.results {
	border-collapse: collapse;
}

table.results th, table.results td {
	border-right: 1px solid white;
}

.score-column {width: 50px;}
.status-column {width: 350px;}
.data-column {width: 50px;}

table.submissions th, td.centred {text-align: center;}

th, td {
	padding: 5px 15px;
}

table.results thead {
	background-color: darkgrey;
	color: white;
}

table.results tbody {
	background-color: lightgrey;
}

table.queue {
    margin-left: auto;
    margin-right: auto;
}

.queue-button {
    text-align: center;
    width: 30px;
}

.padded {
	margin: 20px;
}

span.language {
	background-color: rgb(33, 200, 237);
	color: white;
	padding: 4px;
}

.score-100 {
	background-color: rgb(73, 223, 49);
}

.score-0 {
	background-color: rgb(225, 120, 120);
}

#editor {
	/*position: absolute;*/
	min-width: 300px;
	min-height: 200px;
}

table.scoreboard p, table.scoreboard h3 {
	padding: 0px;
	margin: 0px;
}

table.scoreboard {
	border-collapse: collapse;
    display: inline-block;
}

th.group-header {
	padding: 0 5px;
}
th.group-header>div {
	border-bottom: 1px solid black;
	padding: 5px;
}

table.scoreboard td {
	padding: 12px;
	border: none;
}

table.scoreboard tr td {
	/*background-color: #f0f0f0;*/
}

table.scoreboard tr:nth-child(odd) td {
	background-color: #f0f0f0;
}

table.scoreboard tr td.total {
	background-color: rgb(124, 227, 250);
}


table.scoreboard tr:nth-child(odd) td.total {
	background-color: rgb(33, 200, 237);
}

div.submission-page {
	padding: 10px;
}
div.submission-page pre {
	background-color: #F0F0F0
}
