{% extends "hub.j2" %}
{% block title %}Administration - Codebreaker{% endblock %}
{% block content %}
    <div class="admin-panel">
        <h1>Administration</h1>
        <div class="contestant-access-setting">
            <form action="/admin" method="post">
                <input type="hidden" name="cmd" value="ACCESS">
                <input type="radio" name="contestant-access" value="0" {% if contestant_access == 0 %}checked{% endif %}>Problems hidden</input></br>
                <input type="radio" name="contestant-access" value="1" {% if contestant_access == 1 %}checked{% endif %}>All submissions banned</input></br>
                <input type="radio" name="contestant-access" value="2" {% if contestant_access == 2 %}checked{% endif %}>Useful submissions allowed</input></br>
                <input type="radio" name="contestant-access" value="3" {% if contestant_access == 3 %}checked{% endif %}>All submissions allowed</input></br>
				<input type="submit" name="cmd" value="Set access" class="submit-button">
            </form>
        </div>
		<table class="results queue">
			<thead>
				<tr>
					<th>ID</th>
					<th>User</th>
					<th>Problem</td>
					<th>Score</th>
					<th>Status</th>
					<th>Data</th>
                    <th>Rejudge</th>
                    <th>Delete</th>
				</tr>
			</thead>
			{% for result in results %}
				<tbody>
					<tr>
						<td class="centred">{{ result.id }}</td>
						<td>{{ result.owner }}</td>
						<td>{{ result.problem }}</td>
						{% if result.complete == false %}
							<td class="centred>?</td>
						{% elif result.score > 0 %}
							<td class="centred score-100">{{ result.score }}</td>
						{% else %}
							<td class="centred score-0">{{ result.score }}</td>
						{% endif %}
						<td>{{ result.status }}</td>
						<td class="centred"><a href="/submission/{{result.id}}" target="_blank">View</a></td>
                        <td class="centred">
                            <form method="post" action="/admin">
                                <input type="hidden" name="id" value="{{result.id}}">
                                <button type="submit" name="cmd" value="REJUDGE" class="queue-button">R</button>
                            </form>
                        </td>
                        <td class="centred">
                            <form method="post" action="/admin">
                                <input type="hidden" name="id" value="{{result.id}}">
                                <button type="submit" name="cmd" value="DELETE" class="queue-button">D</button>
                            </form>
                        </td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
    </div>
{% endblock %}