{% extends "hub.j2" %}
{% block title %}{{ problem.long_name }} - Codebreaker{% endblock %}
{% block content %}
		<div class="problem-statement">
				<h1>{{ problem.long_name }}</h1>
				<h2>Broken Code</h2>
                {{ code | safe }}
                {% if problem.short_name not in completed %}
				<h2>Submit</h2>
				{% if can_submit %}
				<form action={{"/submit/"+problem.short_name}} method="post">
					<div class="submit-boxes">
						<div class="submit-input">
							<h3>Input</h3>
							<textarea name="proposed_input" rows="8"></textarea>
						</div>
						<div = class="submit-output">
							<h3>Correct Output</h3>
							<textarea name="correct_output" rows="8"></textarea>
						</div>
					</div>
					<input class="submit-button" type="submit" value="Submit">
				</form>
				{% else %}
				<p>{{ submit_message }}
				{% endif %}
				{% endif %}
				{% if results|length > 0 %}
				<h2>Results</h2>
				<table class="results submissions">
					<thead>
						<tr>
							<th class="centred score-column">Score</th>
							<th class="centred status-column">Result</th>
							<th class="centred data-column">Data</th>
						</tr>
					</thead>
					<tbody>
					{% for result in results %}
							<tr>
                            {% if result.complete == false %}
									<td class="score-column">?</td>
								{% elif result.score > 0 %}
									<td class="centred score-column score-100">{{ result.score }}</td>
								{% else %}
									<td class="centred score-column score-0">{{ result.score }}</td>
								{% endif %}
								<td class="status-column">{{ result.status }}</td>
								<td class="centred data-column"><a href="/submission/{{result.id}}" target="_blank">View</a></td>
							</tr>
					{% endfor %}
					<tbody>
				</table>
				{% endif %}
		</div>
{% endblock %}
