{% extends "hub.j2" %}
{% block title %}Queue - Codebreaker{% endblock %}
{% block content %}
		<table class="results queue">
			<thead>
				<tr>
					<th>ID</th>
					<th>User</th>
					<th>Problem</td>
					<th>Score</th>
					<th>Status</th>
					<th>Data</th>
                    <th>Rejudge</th>
                    <th>Delete</th>
				</tr>
			</thead>
			{% for result in results[::-1] %}
				<tbody>
					<tr>
						<td class="centred">{{ result.id }}</td>
						<td class="centred">{{ result.owner }}</td>
						<td class="centred">{{ result.problem }}</td>
						{% if result.complete == false %}
							<td>?</td>
						{% elif result.score > 0 %}
							<td class="score-100">{{ result.score }}</td>
						{% else %}
							<td class="score-0">{{ result.score }}</td>
						{% endif %}
						<td>{{ result.status }}</td>
						<td class="centred"><a href="/submission/{{result.id}}" target="_blank">View</a></td>
                        <td class="centred">
                            <form method="post" action="/queue">
                                <input type="hidden" name="id" value="{{result.id}}">
                                <button type="submit" name="cmd" value="REJUDGE" class="queue-button">R</button>
                            </form>
                        </td>
                        <td class="centred">
                            <form method="post" action="/queue">
                                <input type="hidden" name="id" value="{{result.id}}">
                                <button type="submit" name="cmd" value="DELETE" class="queue-button">D</button>
                            </form>
                        </td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
{% endblock %}