{% extends "hub.j2" %}
{% block title %}Queue - Codebreaker{% endblock %}
{% block content %}
		<table class="results queue">
			<thead>
				<tr>
					<th>ID</th>
					<th>User</th>
					<th>Problem</td>
					<th>Score</th>
					<th>Status</th>
					<th>Data</th>
                    <th>Actions</th>
				</tr>
			</thead>
			{% for result in results[::-1] %}
				<tbody>
					<tr>
						<td>{{ result.id }}</td>
						<td>{{ result.owner }}</td>
						<td>{{ result.problem }}</td>
						{% if result.complete == false %}
							<td>?</td>
						{% elif result.score > 0 %}
							<td class="score-100">{{ result.score }}</td>
						{% else %}
							<td class="score-0">{{ result.score }}</td>
						{% endif %}
						<td>{{ result.status }}</td>
						<td><a href="/submission/{{result.id}}" target="_blank">View</a></td>
                        <td><a href="/rejudge/{{result.id}}">Rejudge</a> <a href="/delete/{{result.id}}">Delete</a></td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
{% endblock %}