<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/layout.css">
		<meta charset="utf-8">
		<title>Submission - Codebreaker</title>
	</head>
	<body>
		<div class="submission-page">
		<h3>Input</h3>
		<pre>{{proposed_input}}</pre>
        <br>
		<h3>Correct Output</h3>
		<pre>{{correct_output}}</pre>
	</div>
	</body>
</html>
